.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Chiều cao 100% viewport */
    background-color: #f5f5f5; /* Tùy chọn màu nền */
  }
  